
.services-section{
    background-color: #ececec;
    padding:30px 0px;
}
.services{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap:20px;
}
.service{
    width: 365px;
    height: 250px;
    background-color: #ffffff;    
    position: relative;
    transform: translateY(0);
    transition: transform 0.5s ease;
}
.service::after{
    content: "";
    display: block;
    position: absolute;
    top:0px;
    left:50%;
    background-color: #2196f3;
    width:0;
    height: 2px;
    transition: width 0.5s ease;
}
.service::before{
    content: "";
    display: block;
    position: absolute;
    top:0px;
    right:50%;
    background-color: #2196f3;
    width:0;
    height: 2px;
    transition: width 0.5s ease;
}
.service:hover{
    transform: translateY(-10px);
}
.service:hover::after{
    width:50%;
}
.service:hover::before{
    width:50%;
}
.service .service-name{
    height: 80%;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.service .service-name i{
    font-size: 50px;
    color:#d5d5d5;
    transition: 0.5s color ease;
}
.service:hover .service-name i{
    font-size: 50px;
    color:#2196f3;

}
.service .service-name h1{
    color: #2196f3;
}
.service .details{
    height: 20%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fcfcfc;
    padding-right: 10px;
}

.service .details h1{
    background-color: #2196f3;
    height: 100%;
    padding:0px 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    color:white;
    position: relative;
}
.service .details p{
    color:#2196f3;
}
.service .details h1::after{
    content:"";
    display: block;
    width:50px;
    height: 100%;
    background-color: #ececec;
    position: absolute;
    right:-40px;
    transform: skew(-20deg);
}