.timer-section{
    position: relative;
    height:100vh;
    box-sizing: border-box;
}
.timer-section::after{
    content:"";
    display: block;
    width:200px;
    height:200px;
    position: absolute;
    top: 75px;
    right:0;
    background-image: url("../images/dots.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.timer-section::before{
    content:"";
    display: block;
    width:200px;
    height:200px;
    position: absolute;
    bottom:0;
    left:0;
    background-image: url("../images/dots.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.timer-container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.timer-container .image{
    max-width:500px;
    margin-right:20px;
}
.timer-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
}
.timer{
    display: flex;
    flex-wrap: wrap;
    gap:10px
}
.counter {
    color:#2196f3;
    font-size: 30px;
    text-align: center;
    border:1px solid black;
    border-radius: 5px;
    margin-right:15px;

}
.counter .value{
    width:100px;
    padding:20px 0;
    border-bottom: 1px solid black;
}
.counter .label{
    padding:10px;
    font-size: 15px;
}
.timer-section .text{
    width:50%;
    margin:auto;
    text-align: center;
    line-height: 2;
}
@media(max-width:991px){
    .timer-container .image{
        display: none;
    }
    .timer-container{
        justify-content: center;
    }
    .timer-section::after{
        top:40px;
    }
    .timer-text{
        width: 100%;
        padding:0px;
    }
    .timer-section .text{
        width:100%;
        margin:200px auto 0;
    }
}
@media(max-width:525px){
    .timer-section .text{
        
        margin:100px auto 0;
    }

    .timer-section::after{
        display: none;
    }
    .timer-section::before{
        display: none;
    }
}

@media(max-width:415px){
    .timer{
        justify-content: center;
    }
}
